a. far inserire all'utente due valori interi

In [16]:
a= 10
b= 5

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [18]:
somma= a+b
differenza= a-b
moltiplicazione= a*b
divisione= a/b
print("La somma è: " + str(somma))
print("La differenza è: " + str(differenza))
print("La moltiplicazione è: " + str(moltiplicazione))
print("La divisione è: " + str(divisione))

La somma è: 15
La differenza è: 5
La moltiplicazione è: 50
La divisione è: 2.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [19]:
potenza = pow (a,b)
print ("L'elevamento a potenza è " + str(potenza))

L'elevamento a potenza è 100000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [20]:
resto = a%b
print ("Il resto della divisione è " + str(resto))

Il resto della divisione è 0

f. effettuare la divisione intera tra il primo e il secondo numero

In [21]:
divint = a//b
print ("La divisione intera è " + str(divint))

La divisione intera è 2

g. incrementare di una unità entrambi i numeri

In [22]:
ainc = a+1
binc = b+1
print ("a incrementato di 1 è " + str(ainc))
print ("b incrementato di 1 è " + str(binc))

a incrementato di 1 è 11
b incrementato di 1 è 6

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [23]:
h = 1.65
kg = 60
IMC = (kg/(h*h))
print ("La tua altezza è " + str(h))
print ("Il tuo peso è " + str(kg))
print ("Il tuo indice di massa corporea è " + str(IMC))

La tua altezza è 1.65
Il tuo peso è 60
Il tuo indice di massa corporea è 22.03856749311295

i. arrotondare l'IMC precedente

In [24]:
print ("Il tuo indice di massa corporea arrotondato è " + str(round(IMC)))

Il tuo indice di massa corporea arrotondato è 22

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino

In [25]:
id= ("Nome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: Milano")
print (id)

Nome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [26]:
print (id*10)

Nome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: MilanoNome: Nahim - Cognome: Ahmed - Data di nascita: 05/10/2005 - Città di nascita: Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte
le lettere maiuscole

In [27]:
s= "Nahim Ahmed"
print("upper: '%s'"%s.upper())

upper: 'NAHIM AHMED'

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [29]:
o="NAHIM"
p="AHMED"
print(o.capitalize(), p.capitalize())

Nahim Ahmed

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
s= "Nahim Ahmed"
print("La lunghezza di '%s' è"%s,len(s),"caratteri")

La lunghezza di 'Nahim Ahmed' è 11 caratteri

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [13]:
s="Nahim Ahmed"
vocali=0
for i in s:
  if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U"):
    vocali=vocali+1
    print("Il numero di vocali è:" + str(vocali))

Il numero di vocali è:1
Il numero di vocali è:2
Il numero di vocali è:3
Il numero di vocali è:4

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
s="Nahim Ahmed"
print("I primi 5 caratteri sono:",s[0:5])

I primi 5 caratteri sono: Nahim

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
s="Nahim Ahmed"
print("Gli ultimi 5 caratteri sono", s[-5:])

Gli ultimi 5 caratteri sono Ahmed

r. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [3]:
s="Nahim Ahmed"
print("I 5 caratteri centrali sono", s[3:8])

I 5 caratteri centrali sono im Ah

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X