In [ ]:
!pip install geopandas
!pip install contextily
import pandas as pd
import geopandas
import contextily as ctx

In [ ]:
import os
!pip install rtree
!curl -L http://download.osgeo.org/libspatialindex/spatialindex-src-1.8.5.tar.gz | tar xz
os.chdir("/content/spatialindex-src-1.8.5")
!./configure
!make
!make install
!ldconfig

In [ ]:
stradario = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/stradario.csv")
bike_areesosta = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/bike_areesosta.zip")
quartieri = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/ds964_nil_wm.zip")

In [ ]:
bike_areesosta

      id_amat  ...                  geometry
0           2  ...  POINT (9.17821 45.42991)
1           4  ...  POINT (9.16829 45.51697)
2           8  ...  POINT (9.08480 45.47628)
3           9  ...  POINT (9.15673 45.48228)
4          10  ...  POINT (9.12054 45.45506)
...       ...  ...                       ...
1517     3232  ...  POINT (9.16586 45.50530)
1518     3233  ...  POINT (9.16628 45.50584)
1519     3234  ...  POINT (9.16634 45.50568)
1520     3235  ...  POINT (9.16633 45.50532)
1521     3243  ...  POINT (9.21895 45.43356)

[1522 rows x 12 columns]

- una lista (elenco) delle aree di sosta, indicando il nome della via, il numero civico e il numero di posti totali per le biciclette

In [ ]:
bike_areesosta["id_via"] = bike_areesosta["id_via"].astype(str)
bike_areesosta.id_via.dtypes

In [ ]:
stradario["CODICE_VIA"] = stradario["CODICE_VIA"].astype(str)
stradario.CODICE_VIA.dtypes

In [ ]:
areesosta_vie = pd.merge(bike_areesosta, stradario, how = "inner", left_on = "id_via", right_on = "CODICE_VIA")
areesosta_vie[["AREA", "DESCRIZIONE_VIA", "CIVICO", "stalli_tot"]]

- una lista (elenco) analogo al precedente ma con anche  l'indicazione del quartiere

In [ ]:
areesosta_quartieri = geopandas.sjoin(areesosta_vie, quartieri, op = "within", how = "left")[["AREA", "DESCRIZIONE_VIA", "CIVICO", "stalli_tot", "NIL"]]
areesosta_quartieri

- i nomi dei quartieri in cui non ci sono aree di sosta;

In [ ]:
quartieri_senza = quartieri[~quartieri.crosses(bike_areesosta.unary_union)]
quartieri_senza

- una mappa di Milano con l'indicazione dei quartieri in cui non ci sono aree di sosta

In [ ]:
ax = quartieri_senza.to_crs(epsg=3857).plot(figsize = (12,20), facecolor = "none", edgecolor = "k")
ctx.add_basemap(ax)

- il nome del quartiere con più aree di sosta;

In [ ]:
areesosta_quartieri2 = geopandas.sjoin(areesosta_vie, quartieri, op = "within", how = "left")[["AREA", "DESCRIZIONE_VIA", "CIVICO", "stalli_tot", "NIL", "id_amat"]]
areesosta_quartieri2.drop_duplicates("id_amat", inplace=True)
areesosta_quartieri3 = areesosta_quartieri2.groupby("NIL")["DESCRIZIONE_VIA"].count()
areesosta_quartieri4 = areesosta_quartieri3[areesosta_quartieri3.values == areesosta_quartieri3.values.max()]
areesosta_quartieri4

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if self.run_code(code, result):

NIL
DUOMO    132
Name: DESCRIZIONE_VIA, dtype: int64

In [ ]:
areesosta_quartieri4.reset_index()

     NIL  DESCRIZIONE_VIA
0  DUOMO              132

In [ ]:
quartieri

    ID_NIL  ...                                           geometry
0       48  ...  POLYGON ((9.15422 45.43775, 9.15419 45.43707, ...
1       64  ...  POLYGON ((9.10623 45.49016, 9.10295 45.48939, ...
2       67  ...  POLYGON ((9.15636 45.48785, 9.15724 45.48721, ...
3       81  ...  POLYGON ((9.16803 45.52234, 9.16687 45.52027, ...
4       84  ...  POLYGON ((9.20040 45.52848, 9.20055 45.52828, ...
..     ...  ...                                                ...
83      68  ...  POLYGON ((9.17174 45.47619, 9.17150 45.47595, ...
84       2  ...  POLYGON ((9.19165 45.46906, 9.19105 45.46843, ...
85      33  ...  POLYGON ((9.24044 45.44427, 9.24084 45.44424, ...
86      17  ...  POLYGON ((9.26729 45.51234, 9.26701 45.51241, ...
87      53  ...  POLYGON ((9.13575 45.44969, 9.13318 45.44886, ...

[88 rows x 9 columns]

- una mappa di Milano con l'indicazione del quartiere con più aree di sosta;

In [ ]:
quartiere_piu = quartieri[quartieri["NIL"] == "DUOMO"]
#ax = areesosta_quartieri4.to_crs(epsg=3857).plot(figsize =(12,20), facecolor = "none", edgecolor = "k")
#ctx.add_basemap(ax)
quartiere_piu

- i nomi dei quartieri con un numero di aree di sosta minori della media;